html {
    font-family: 'Cabin', sans-serif;
}

header {
    height: 64px;
    padding: 0 24px;
    clear: both;    
}

header p, img {
    float: left;
    
    font-size: 32px;
    font-weight: bold;
}

header span {
    font-weight: normal;
    color:grey;
}

header img {
    margin-top: 15px;
}

header p {
    margin-top: 10px;
}

header ul {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 20px;
}

header a {
    text-decoration: none;
    color: black;
    margin-right: 16px;
}